a{
  color: white !important;
  text-decoration-line: none;
  margin-left: 50px;
  /* position: absolute; */
  
}
a:hover{
  display: inline-block !important;
  color: white !important;
  text-decoration-line: none;


}
/* html{
  overflow: scroll;
overflow-x: hidden;
} */
body::-webkit-scrollbar{
  display: none !important;
}
.white{
  color: white;
}

